.container__main {
    width: 100%;
    max-width: 100em;
    position: relative;
}

.container__main:after, .container__main:before {
	content: " "; 
    display: table; 
}

.container__main:after {
	clear: both; 
}
