$main_color = #006CB3;

.note__title 
    text-transform: uppercase;
    color: $main_color;
    font-weight: bold;
    font-family: UnifrakturCook-Bold, 'Arial';
    background-image: url(apple.png);

