.note__title 
    text-transform: uppercase;
    font-weight: bold;
    font-family: MyriadPro-Bold, 'Arial';
    font-size: 1.75rem;

@media screen and (max-width: 55em) {
	.note__title {
        font-size: 1.45rem;
    }
}
