include ../__skill/skills__skill.pug

ul.skills__list
    +CreateSkill('creative', 12, 9)
ul.skills__list
    +CreateSkill('teamwork', 12, 11)
ul.skills__list
    +CreateSkill('innovate', 12, 6)
ul.skills__list
    +CreateSkill('communication', 12, 11)