include ../__skill/skills__skill.pug

ul.skills__list
    +CreateSkill('CREATIVE', 12, 9)
ul.skills__list
    +CreateSkill('TEAMWORK', 12, 11)
ul.skills__list
    +CreateSkill('INNOVATE', 12, 6)
ul.skills__list
    +CreateSkill('COMMUNICATION', 12, 11)