include ../__skill/skills__skill.pug

ul.skills__list
    +skill('CREATIVE', 12, 9)
ul.skills__list
    +skill('TEAMWORK', 12, 11)
ul.skills__list
    +skill('INNOVATE', 12, 6)
ul.skills__list
    +skill('COMMUNICATION', 12, 11)