include __row/contact__row.pug

table.contact
    +CreateContactRow('address','Main Street, City.')
    +CreateContactRow('e-mail','contact@domain.com','5')
    +CreateContactRow('phone','555-555-555')
    +CreateContactRow('website','www.yourweb.com')
