$method-color = #006CB3;

.contact
    font-size: 1.4rem;

    &__method
        font-family: MyriadPro-Bold, 'Arial';
        color: $method-color;
        text-transform: uppercase;
        width: 8.5rem;

    &__row
        display: block;
        margin-bottom: 7.15%;
        margin-left: -1.5%;

    &__value
        font-family: MyriadPro-Regular, 'Arial';