
mixin contact__row(method, value, padding_left)
	tr(class="contact__row")
		td.contact__method= method
		td.contact__value= value

mixin contact()
	table.contact
		+contact__row('address','Main Street, City.')
		+contact__row('e-mail','contact@domain.com','5')
		+contact__row('phone','555-555-555')
		+contact__row('website','www.yourweb.com')
