$method-color = #006CB3;

.contact
    font-size: 1.4rem;

    &__method
        font-family: MyriadPro-Bold, 'Arial';
        color: $method-color;
        text-transform: uppercase;
        display: inline-block;
        min-width: 8.5rem;

    &__row
        margin-top: 7.1%;

    &__value
        font-family: MyriadPro-Regular, 'Arial';
        display: inline-block;