.annotation__text 
    display: inline-block;
    text-transform: uppercase; 
    font-family: MyriadPro-Bold, 'Arial';
    font-size: 2em;
    position: relative;
    bottom: 0.55em;
    padding-left: 0.21em;




