$annotation_text_color = #006CB3;

.annotation__text 
    display: inline-block;
    text-transform: uppercase; 
    font-family: MyriadPro-Bold, 'Arial';
    color: $annotation_text_color;
    background: #fff;



