.annotation__text 
    display: inline-block;
    text-transform: uppercase; 
    font-family: MyriadPro-Bold, 'Arial';
    font-size: 2em;
    position: relative;
    bottom: 0.55em;
    padding-left: 0.21em;

.annotation__text::after 
    display: inline-block;
    content: "";
    border-top: .15em solid #006CB3;
    width: 4.21em;
    margin: 0 0.30em;
    transform: translateY(-0.29em);
