.profile
	&__text
		padding-right: 1%;

		&_normal
			font-family:  MyriadPro-Regular, 'Arial';
			font-size: 1.05rem;

		&_bold
			font-family:  MyriadPro-Bold, 'Arial';
			font-size: 1.05rem;
			line-height: 1.2rem;