include ../annotation/annotation.pug
include ../person/person.pug
include ../profile/profile.pug
include ../contact/contact.pug
include ../skills/skills.pug
include ../education/education.pug
include ../experience/experience.pug
include ../software/software.pug

mixin container__column_left()
    div.container__column_left
        +person()
        +annotation('profile')
        +profile()
        +annotation('contact')
        +contact([{method: 'address', value: 'Main Street, City.', }, { method: 'e-mail', value: 'contact@domain.com'}, { method: 'phone', value: '555-555-555'}, { method: 'website', value: 'www.yourweb.com'}])
        +annotation('skills')
        +skills()

mixin container__column_right()
    div.container__column_right
        +annotation('education')
        +education()
        +annotation('experience')
        +experience()
        +annotation('software')
        +software()

mixin container()
    div.container
            div.container__main.pug
                +container__column_left()
                +container__column_right()

+container()