div.container_50percent
    
    include ../../../annotation/annotation.pug

    +annotation('_education/annotation_education.png','education')
    include ../../../education/education.pug

    +annotation('_experience/annotation_experience.png','experience')
    include ../../../experience/experience.pug

    +annotation('_software/annotation_software.png','software')
