.container_50percent {
    width: 53%;
    float: left;
    font-size: 100%;
    margin-top: 6.8%;
    margin-left: 6%;
}

@media screen and (max-width: 50em) {
	.container_50percent {
		width: 100%;
	}
}