div.container_50percent
    
    include ../../../annotation/annotation.pug

    +CreateAnnotation('_education/annotation_education.png','education','education')
    include ../../../education/education.pug

    +CreateAnnotation('_experience/annotation_experience.png','experience','experience')
    include ../../../experience/experience.pug

    +CreateAnnotation('_software/annotation_software.png','software','software')
    include ../../../software/software.pug