mixin CreateContactRow(method, value, padding_left)
    tr(class="contact_row")
        td.contact__method= method
        td.contact__value= value
        //- td(class="contact__value" style="padding-left: " + padding_left + "rem;")= value

