mixin CreateExperienceNote(desc, title, date, univesity)
    div.experience__note
        span.experience__title= title + " "
        span.experience__date= date
        span.experience__name= univesity
        p.experience__description= desc


       
    