.container_left
	float: left;
	width: 34%;
	font-size: 100%;
	margin-top: 6.8%;
	margin-left: 4%;
	margin-bottom: 7.7%;
	min-width: 22.5rem;


@media screen and (max-width: 66em) {
	.container_left {
		width: 100%;
		margin-left: 0;
	}
}