include __note/experience__note.pug
    div.experience
+CreateExperienceNote('Lorem ipsum dolor sit amet, consectetuer adipiscing elit.' +
'Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque' + 
'penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,' +
'ultricies nec, pellentesque.','COMPANY NAME','//Feb 2011 - Jun 2014', 'YOUR JOB HERE')

+CreateExperienceNote('Lorem ipsum dolor sit amet, consectetuer adipiscing elit.' +
'Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque' + 
'penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,' +
'ultricies nec, pellentesque.','COMPANY NAME','//Feb 2011 - Jun 2014', 'YOUR JOB HERE')

+CreateExperienceNote('Lorem ipsum dolor sit amet, consectetuer adipiscing elit.' +
'Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque' + 
'penatibus et magnis dis parturi ent montes, nascetur ridiculus mus. Donec quam felis,' +
'ultricies nec, pellentesque.','COMPANY NAME','//Feb 2011 - Jun 2014', 'YOUR JOB HERE')