include ../note/note.pug
.experience
    +CreateNote('company name','// Feb 2011 - Jun 2014','your job here',
    'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. ' +
    'Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque ' + 
    'penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ' +
    'ultricies nec, pellentesque.')
    +CreateNote('company name','// Feb 2011 - Jun 2014','your job here',
    'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. ' +
    'Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque ' + 
    'penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ' +
    'ultricies nec, pellentesque.')
    +CreateNote('company name','// Feb 2011 - Jun 2014','your job here',
    'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. ' +
    'Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque ' + 
    'penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ' +
    'ultricies nec, pellentesque.')