.person__photo-frame {
    position: relative;
    border: 2px solid #3d6cb0;
    border-radius: 50%;
    max-width: 15.4rem;
    margin: 0 auto;
    left: 0.8rem;
    bottom: 0.1rem;
}

.person__photo-frame:before
  content: ""
  display: block
  padding-top: 100%

  
@media screen and (max-width: 55em) {
	.person__photo-frame {
        left: 0;
    }
}
