.container_40percent {
    width: 34%;
    float: left;
    font-size: 100%;
	margin-top: 6.8%;
	margin-left: 4%;
	margin-bottom: 7.7%;
}

@media screen and (max-width: 55em) {
	.container_40percent {
		width: 100%;
		margin-left: 0;
	}
}