.container_40percent {
    width: 34%;
    float: left;
    font-size: 100%;
	margin-top: 5.65em;
	margin-left: 4%;
	margin-bottom: 8%;
}

@media screen and (max-width: 50em) {
	.container_40percent {
		width: 100%;
	}
}