div.container_40percent

    include ../../../logo/logo.pug
    include ../../../annotation/annotation.pug

    +CreateAnnotation('_profile/annotation_profile.png','profile','profile')
    include ../../../profile/profile.pug

    +CreateAnnotation('_contact/annotation_contact.png','contact','contact')
    include ../../../contact/contact.pug

    +CreateAnnotation('_skills/annotation_skills.png','skills','skills')
    include ../../../skills/skills.pug

    