mixin skill(name, totalPoints, currentPoints)
    div.skill
        include ../__skill-name/skills__skill-name.pug
        +setName(name)
        - for (var x = 0; x < currentPoints; x++)
            include ../__point/_active/skills__point_active.pug
        - for (var x = 0; x < totalPoints - currentPoints; x++)
            include ../__point/skills__point.pug