$point-passive-color = #e6e6e6;

.skills_point {
	background: $point-passive-color;
	border-radius: 50%;
	display: inline-block;
	height: 1em;
	margin-right: 0.5em;
	position: relative;
	width: 1em;
}