mixin note(desc)
    div.note
        span.note__title Master Degree &nbsp; 
        span.note__date //Feb 2011 - Jun 2014
        span.note__university univesity name 
        p.note__description= desc


       
    