$line-color = #006CB3;

.annotation__text_contact::after 
    display: inline-block;
    content: "";
    border-top: .15em solid $line-color;
    width: 4.21em;
    margin: 0 0.30em;
    transform: translateY(-0.29em);
