$photo_color = #006CB3;

.person 
    text-align: center;
    margin-left: 3.5%;

    &__photo
        background-color: $photo_color;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 90%;
        margin: 5%;

        &:before
            content: "";
            display: block;
            padding-top: 100%;

    &__photo-frame
        border: 2px solid $photo_color;
        border-radius: 50%;
        max-width: 15.4rem;
        margin: 0 auto;
        position: relative;

        &:before
            content: "";
            display: block;
            padding-top: 100%;

    &__name
        margin-top: 6%;

    &__first-name
        text-transform: uppercase;
        font-family: MyriadPro-LightSemiExt, 'Arial';
        font-size: 3.67rem;
        line-height: 4.3rem;
        overflow: hidden;
        text-overflow: ellipsis;

    &__specialty
        text-transform: uppercase;
        font-family: MyriadPro-Bold, 'Arial';
        font-size: 1.634rem;
        line-height: 3.9rem;
        overflow: hidden;
        text-overflow: ellipsis;

    &__surname
        text-transform: uppercase;
        font-family: MyriadPro-Bold, 'Arial';
        font-size: 4.17rem;
        line-height: 3rem;
        overflow: hidden;
        text-overflow: ellipsis;

@media screen and (max-width: 55em) {
    .person__photo-frame {
        left: 0;
        bottom: 0;
    }
}


@media screen and (max-width: 55em) {
    .person__name {
        margin-left: 0;
        right: 0;
    }
}