mixin person(firstName, surname, specialty)
    div.person
        div.person__photo-frame
            div.person__photo
        div.person__name
            div.person__first-name= firstName || 'name here'
            div.person__surname= surname || 'surname'
            div.person__specialty= specialty || 'graphic designer'

