mixin CreateEducationNote(desc, title, date, univesity)
    div.education__note
        span.education__title= title
        span.education__date= date
        span.education__name= univesity
        p.education__description= desc


       
    