mixin SetEducationNode(desc, title, date, univesity)
    div.education__node
        span.education__title= title + " "
        span.education__date= date
        span.education__name= univesity
        p.education__description= desc


       
    