.note__place
    text-transform: uppercase;
    margin-left: 6.6%;  
    display: block;
    font-size: 1.75em;
    font-family: MyriadPro-Regular, 'Arial';

@media screen and (max-width: 55em) {
	.note__place {
        font-size: 1.45rem;
    }
}