.annotation__icon 
    min-width: 4em;
    max-width: 5vw;


@media screen and (max-width: 48em) {
	.annotation__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
	}
}

