mixin skills(options)
    div.skills
        div.skills__skill
            each skill in options
                ul.skills__list
                    div.skills__skill-name= skill.name
                    - for (var x = 0; x < skill.active_points; x++)
                            li(class='skills__point skills__point_active')
                    - for (var x = 0; x < skill.total_points - skill.active_points; x++)
                            li(class='skills__point skills__point_passive')

