include ./skills__skill.pug

mixin skills__list()
    ul.skills__list
        +skill('creative', 12, 9)
    ul.skills__list
        +skill('teamwork', 12, 11)
    ul.skills__list
        +skill('innovate', 12, 6)
    ul.skills__list
        +skill('communication', 12, 11)