doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Site_1
    link(rel="icon" type="image/vnd.microsoft.icon" href='favicon.ico')
    link(rel='mask-icon' href='images/fav.svg' color='red')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1") 
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    include blocks/container/container.pug
