div.container_right
    div.container__content-wrapper_right
        include ../../../annotation/annotation.pug

        +CreateAnnotation('education')
        include ../../../education/education.pug

        +CreateAnnotation('experience')
        include ../../../experience/experience.pug

        +CreateAnnotation('software')
        include ../../../software/software.pug