$annotation_text_color = #006CB3;

.annotation
	position: relative;

	&__text
		display: inline-block;
		position: relative;
		text-transform: uppercase; 
		font-family: MyriadPro-Bold, 'Arial';
		font-size: 2.79rem;
		color: $annotation_text_color;
		background: #fff;

		&_profile
			bottom: 1.7rem;
			padding-left: 2.5%;
			padding-right: 2%;

		&_contact
			bottom: 1.4rem;
			padding-left: 2.5%;
			padding-right: 1.5%;

		&_skills
			bottom: 1.7rem;
			padding-left: 1.8%;
			padding-right: 3.3%;

		&_education
			bottom: 1.7rem;
			padding-left: 2.8%
			padding-right: 1.4%;

		&_experience
			bottom: 1.6rem;
			padding-left: 2.7%;
			padding-right: 0.6%;

		&_software
			bottom: 1.5rem;
			padding-left: 2.8%;
			padding-right: 3.6%;

	&__icon
		background: #fff;
		position: relative;
		height: 5em;

	&__position

		&_profile
			margin-top: 19.2%;

		&_contact
			margin-top: 10.5%;
			margin-bottom: 4.4%;

		&_skills
			margin-top: 4.8%;

		&_education
			margin-bottom: -0.8%;

		&_experience
			margin-top: 12.15%;
			margin-bottom: 1.7%;

		&_software
			margin-top: 12%;