
mixin annotation(name)
	div(class='annotation ' + 'annotation__position_' + name)
		img(src= 'blocks/annotation/__icon/_' + name + '/annotation__icon_' + name + '.png', alt= name class= "annotation__icon")
		div(class='annotation__line annotation__line_' + name)
		div(class='annotation__text annotation__text_' + name)= name 
