mixin CreateAnnotation(name)
    div(class='annotation ' + 'annotation__position_' + name)
        include __icon/annotation__icon.pug
        include __text/annotation__text.pug 
        include __line/annotation__line.pug
        +CreateAnnotationIcon(name) 
        +CreateAnnotationLine(name)
        +CreateAnnotationText(name)
        
        
        