mixin CreateAnnotation(iconUrl, text)
    div.annotation
        include __icon/annotation__icon.pug
        include __text/annotation__text.pug
        +CreateAnnotationIcon(iconUrl)
        +CreateAnnotationText(text)
        