mixin CreateAnnotation(iconUrl, alternative, text)
    div.annotation
        include __icon/annotation__icon.pug
        include __text/annotation__text.pug 
        +CreateAnnotationIcon(iconUrl, alternative) 
        +CreateAnnotationText(text)
        
        