
mixin annotation(name)
    div(class='annotation_' + name).annotation
        img(src= 'blocks/annotation/__icon/_' + name + '/annotation__icon_' + name + '.png', alt= name class= "annotation__icon")
        div(class='annotation__line')
        h2(class='annotation__text')= name 
