include ../__progress-bar/software__progress-bar.pug
include ../__progress-bar-name/software__progress-bar-name.pug

mixin CreateProduct(name, value)
    div.software__product
        +CreateProgressBarName(name)
        +CreateProgressBar(value)