include __product/software__product.pug

div.software
    div.software__column
        +CreateProduct('PHOTOSHOP', 17.2)
        +CreateProduct('ILLUSTRATOR', 13.3)
        +CreateProduct('INDESIGN', 10.6)
    div.software__column
        +CreateProduct('DREAMWEAVER', 15.5)
        +CreateProduct('AFTER EFFECTS', 11.5)
        +CreateProduct('HTML&CSS3', 17)