mixin software__product(name, value)
    div.software__product
        div.software__progress-bar-name= name
        div.software__progress-bar
            div.software__progress-bar_points(style= 'width: ' +value+ '%')