include __product/software__product.pug

div.software
    +CreateProduct('PHOTOSHOP', 17)
    +CreateProduct('ILLUSTRATOR', 12)
    +CreateProduct('INDESIGN', 10)
    +CreateProduct('DREAMWEAVER', 16)
    +CreateProduct('AFTER EFFECTS', 11)
    +CreateProduct('HTML&CSS3', 17)