
include ./software__product.pug

mixin software()
    div.software
        div.software__column
            +software__product('PHOTOSHOP', 17.2)
            +software__product('ILLUSTRATOR', 13.3)
            +software__product('INDESIGN', 10.6)
        div.software__column
            +software__product('DREAMWEAVER', 15.5)
            +software__product('AFTER EFFECTS', 11.5)
            +software__product('HTML&CSS3', 17)