
include ./software__product.pug

mixin software()
    div.software
        div.software__column
            +software__product('PHOTOSHOP', 91)
            +software__product('ILLUSTRATOR', 70)
            +software__product('INDESIGN', 56)
        div.software__column
            +software__product('DREAMWEAVER', 82)
            +software__product('AFTER EFFECTS', 61)
            +software__product('HTML&CSS3', 90)