include __note/education__node.pug
    div.education
+CreateEducationNode('Lorem ipsum dolor sit amet, consectetuer adipiscing elit.' +
'Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque' + 
'penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,' +
'ultricies nec, pellentesque.','MASTER DEGREE','//Feb 2011 - Jun 2014', 'UNIVERSITY NAME')

+CreateEducationNode('Lorem ipsum dolor sit amet, consectetuer adipiscing elit.' +
'Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque' + 
'penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,' +
'ultricies nec, pellentesque.','MASTER DEGREE','//Feb 2011 - Jun 2014', 'UNIVERSITY NAME')

+CreateEducationNode('Lorem ipsum dolor sit amet, consectetuer adipiscing elit.' +
'Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque' + 
'penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,' +
'ultricies nec, pellentesque.','MASTER DEGREE','//Feb 2011 - Jun 2014', 'UNIVERSITY NAME')

